.card-wrapper{
    width: 800px;
    height: 100px;
    background: #ffffff;
    border-radius: 15px;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.coin-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.coin-sell {
    margin-right: 5%;
}

.coin-icon{
    height: 80px;
    width: auto;
}


.coin-prices{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

a{
    font-size: 25px;
    text-decoration: none;
    color: #af00e8;
}

.coin-buy, .coin-sell {
    width: 30%;
}


.coin-buy, .coin-sell{
    display: flex; /* Aliniere verticală între link și preț */
    flex-direction: column; /* Buy/Sell și preț sunt afișate unul sub altul */
    align-items: center; /* Centrează textul */
    gap: 10px; /* Spațiu între link și preț */
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
}